In [70]:
import pandas as pd
import os
import time

In [89]:
df = pd.DataFrame({"time":0.3, "goal":str(True), "date":time.strftime("%Y-%m-%d-%H-%M")}, index=[0])
df

   time  goal              date
0   0.3  True  2021-09-14-13-02

In [77]:
path = "data/simple/tower/1/data.csv"

In [83]:
file_is_there=os.path.exists(path)
df.to_csv("data/simple/tower/1/data.csv", mode='a', header=not file_is_there, index=False)

In [84]:
test = pd.read_csv("data/simple/tower/1/data.csv")

In [85]:
test

   time   goal              date
0   0.1   True  2021-09-14-12-59
1   0.3  False  2021-09-14-12-59
2   0.1   True  2021-09-14-12-59
3   0.3  False  2021-09-14-12-59

In [60]:
time.strftime("%Y%m%d%H%M")
test.date = pd.to_datetime(test.date, format='%Y-%m-%d-%H-%M')

TypeError: to_datetime() got an unexpected keyword argument 'index'

In [59]:
test

   Unnamed: 0  time   goal                date
0           0   0.1   True 2021-09-14 12:53:00
1           1   0.3  False 2021-09-14 12:53:00